
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  background:white;
}
::-webkit-scrollbar-thumb {
    background:#0f21bd ;
    transition: all 0.3s ease;
}

/*navbar*/
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav.sticky{
  background: #0f21bd;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #0f21bd;
}
nav.sticky .navbar .logo a{
  color:#DEF2F8 ;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: BLACK;
  padding: 6px 0;
  transition: all 0.3s ease;
}
.navbar .menu a:hover{
  color: black;
}
nav.sticky .menu a{
  color :#DEF2F8;
}
nav.sticky .menu a:hover{
  color: black;
}
.navbar .media-icons a{
  color:black;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: white;
}

/*Side Navigation*/
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: white;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #0f21bd;
}
nav.sticky .menu-btn{
  color: white;
}
.navbar .menu .menu-btn{
  color: white;
}

/*home*/
.home{
  height: 100vh;
  width:100%;
  background:#DEF2F8;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin:  auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  color: black;
  font-size: 80px;
  font-weight: 500;
  margin-left: 400px;
}
.home .text-two{
  font-size: 45px;
  margin-left:650px ;
  color: #0f21bd;
}
  .home .button{
    margin-left: 760px;
  }
  .home .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background:#0f21bd;
    color: #DEF2F8;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
  }
  .home .button button:hover{
    border-color: #0f21bd;
    background-color:#DEF2F8;
    color:#0f21bd;
  }

/* About */
section{
  padding-top: 40px;
  background: #008dd5;
}
section .content{
  width: 80%;
  margin:auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #008DD5;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #0f21bd;
  color: #DEF2F8;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
section .button button:hover{
  border-color: #0f21bd;
  background-color:#008dd5;
  color:#0f21bd;
}

 /* Skills */
 .skills{
   background: #DEF2F8;
 }
 .skills .content{
   padding: 50px 0;
 }
 .skills .topic{
  margin-left: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 /* certyificate */
 .certificate{
  background: #008dd5;
 }
 .certificate .topic{
  margin-left: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 /* contact */
 .contact{
  background:#DEF2F8 ;
 }
 .contact-form-container {
  background-color: #DEF2F8;
  padding: 20px;
  margin-left: 500px;
  border-radius: 10px;
  box-shadow:black;
  max-width: 500px;
}

h2 {
  margin-top: 30;
  color: #333;
  text-align: center;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}
input, textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}
textarea {
  resize:none;
}
.error-message {
  color: red;
  font-size: 0.7rem;
  display: none;
}
.submit-button {
  background-color: #0f21bd;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}
.submit-button:hover {
  background-color: #0f21bd;
}

/* Footer */
footer{
  background: #0f21bd;
  padding: 15px 0;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll button top */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  background: #0f21bd;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: black;
  display: none;
}

/* Media */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: white;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: rgb(88, 220, 88);
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}
@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: rgb(88, 220, 88);
  }
}